.header {
  display: flex;
  justify-content: space-between;
  padding: 26px 40px;
  background-color: #c0eded;
  margin-bottom: 10px;
}

.title {
  position: relative;
  padding:  0 10px 0 90px;
  line-height: 85px;
  background-color: #25728c;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
  }

  &__link {
    font-family: Arial, sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: white;
  }
}
.cart-link img {
  width: 80px;
}
