.product {
  max-width: 330px;
  padding: 15px 10px;
  margin-bottom: 10px;
  text-align: right;
  border-radius: 3px;
  background-color: lightblue;

  &__content {
    display: grid;
    grid-template-columns: 110px auto;
    text-align: left;
  }

  &__buyBtn {
    padding: 8px 50px;
    margin: 0 auto;
    background-color: aliceblue;
    border: none;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: white;
    }
  }
}

dd {
  -webkit-margin-start: 0;
}
