.cart-item {
  &__list {
    padding: 5px 0;
    list-style-type: none;
    margin-bottom: 10px;
  }

  &__i {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
  }

  &__section {
    text-align: center;
    align-self: center;
  }

  &__img img {
    height: 100px;
    vertical-align: middle;
  }

  &__name, &__author {
    display: block;
  }

  &__author {
    font-style: italic;
  }

  &__delete img {
    width: 20px;
  }
}
