<ul appHighlight class="cart-item__list">
  <li class="cart-item__i">
    <section class="cart-item__section cart-item__img">
      <img src="assets/images/book{{product.id}}.jpg" alt="">
    </section>
    <section class="cart-item__section cart-item__title">
      <span class="cart-item__name">{{product.name}}</span>
      <span class="cart-item__author">{{product.author}}</span>
    </section>
    <section class="cart-item__section cart-item__price">
      {{product.price}}
    </section>
    <section class="cart-item__section cart-item__qty">
      <input type="number" [(ngModel)]="qty" (change)="onChange()" min="0" max="10">
    </section>
    <section class="cart-item__section cart-item__sum">{{product.price * product.qty | currency:'USD'}}</section>
    <section class="cart-item__section cart-item__delete">
      <a href="#" (click)="onDelete(product)">
        <img src="assets/images/trash-can.svg" alt="">
      </a>
    </section>
  </li>
</ul>
