<ul  *ngIf="checkCart(); else elseBlock" class="cart">
  <li class="cart__list" *ngFor="let product of products">
    <div class="cart__name">{{product.name}}</div>
    <div class="cart-content">
      <span class="cart-content__value">{{product.price | currency:'USD':'symbol'}}</span>
      <span class="cart-content__sign">X</span>
      <span class="cart-content__value">{{product.value}}</span>
      <span class="cart-content__sign">=</span>
      <span class="cart-content__value">{{product.price * product.value | currency:'USD':'symbol'}}</span>
    </div>
  </li>
</ul>
<ng-template #elseBlock>
  Cart is empty
</ng-template>
