.product {
  position: relative;
  max-width: 300px;
  height: 100%;
  padding: 20px 30px 60px;
  background-color: white;

  &__img {
    img {
      display: block;
      height: auto;
      width: auto;
      max-width: 425px;
      max-height: 230px;
      margin: auto;
    }
  }

  &__category {
    position: absolute;
    top: 10px;
    left: 0;
    padding: 3px 5px;
    font-size: 10px;
    background-color: rgb(242, 154, 60);
    color: white;
  }

  &__title {
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  &__author {
    padding-top: 5px;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
  }

  &__description {
    height: 150px;
    padding-top: 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    overflow: hidden;
  }

  &__price {
    position: absolute;
    bottom: 54px;
    font-size: 14px;
    font-weight: bold;
  }

  &__buy {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #C0EDED;
    color: white;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: crimson;
    }

    &:disabled {
      background-color: lightgrey;

      &:hover {
        background-color: lightgray;
      }
    }
  }

  &__qty {
    position: absolute;
    bottom: 25px;
    display: inline-flex;

    span {
      padding: 0 15px;
      font-weight: bold;
      background-color: #eeeeee;
      cursor: pointer;
      user-select: none;
    }

    &Input {
      width: 30px;
      text-align: center;
      outline: 0;
    }
  }
}
